@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    ::-webkit-scrollbar {
        width: 7px;
    }


    ::-webkit-scrollbar-track {
        background: white;
    }


    ::-webkit-scrollbar-thumb {
        background-color: #999ea0;
        background-clip: content-box;
    }


    ::-webkit-scrollbar-thumb:hover {
        background-color: grey;
    }


    .scroll {
        scrollbar-width: thin;
    }

    .car-scroll {
        scrollbar-width: none;
    }

    .brave-scroll::-webkit-scrollbar {
        display: none;
    }

}